.bold {
    font-weight: bold;
}

sidebar {
    listview {
        margin: 0 12px;
    }
}

.calendar-row {
    checkbutton:checked {
        check {
            background-color: color-mix(
                in srgb,
                var(--calendar-bg-color) 75%,
                var(--view-bg-color)
            );
        }
    }
}

search-dialog {
    listview {
        background-color: transparent;
        margin: 0 9px;

        > row {
            padding: 6px;
            margin: 3px 0;
            border-radius: 9px;
        }
    }
}

calendar-manager-dialog {
    collections-list-page {
        listview {
            background-color: transparent;
            margin: 0 9px;

            .collection-row {
                margin: 12px 0;

                > .header {
                    margin-bottom: 12px;
                }
            }
        }
    }
}

event-details-dialog {
    .attendee-list-row > box {
        margin: 12px;

        attendee-status-section {
            font-size: smaller;

            attendee-row {
                -gtk-icon-weight: 134;
            }
        }
    }

    .attendee-details-row > box {
        margin: 6px 12px;
    }

    attendee-role-badge {
        color: var(--dark-5);
        background-color: var(--light-3);
        border-radius: 0.4em;
        padding: 0.1em 0.5em;
        font-size: 0.8em;

        &.chair {
            color: var(--accent-fg-color);
            background-color: var(--accent-bg-color);
        }

        &.optional,
        &.non-participant {
            color: var(--light-1);
            background-color: var(--dark-2);
        }
    }

    .event-actions-toolbar {
        margin: 3px;
    }

    .event-action {
        padding: 6px;
    }
}

.qr-code {
    background: white;
    padding: 12px;
}

time-zone-picker-dialog {
    listview {
        background-color: transparent;
        margin: 0 9px;

        > row {
            padding: 6px;
            margin: 3px;
            border-radius: 6px;
        }
    }
}

.loading-button-row {
    padding: 12px 40px;
}

year-view {
    --raised-shade-color-base: color-mix(
        in srgb,
        var(--headerbar-shade-color) 50%,
        transparent
    );

    box-shadow:
        inset 0 -1px var(--raised-shade-color, var(--raised-shade-color-base)),
        inset 0 -2px 4px var(--raised-shade-color-base),
        inset 0 1px var(--raised-shade-color, var(--raised-shade-color-base)),
        inset 0 2px 4px var(--raised-shade-color-base);

    year-view-row {
        margin-top: 12px;

        flowbox {
            > flowboxchild {
                padding: 6px;

                label.narrow {
                    font-weight: 400;
                    font-size: 57%;
                }

                label.medium {
                    font-weight: 400;
                    font-size: 100%;
                }

                label.wide {
                    font-weight: 400;
                    font-size: 130%;
                }
            }
        }
    }
}

month-view {
    > box.header {
        > label.day-name {
            font-weight: bold;
            margin: 6px;
            opacity: var(--dim-opacity);
        }
    }

    > month-view-inner {
        --raised-shade-color-base: color-mix(
            in srgb,
            var(--headerbar-shade-color) 50%,
            transparent
        );

        box-shadow:
            inset 0 -1px
                var(--raised-shade-color, var(--raised-shade-color-base)),
            inset 0 -2px 4px var(--raised-shade-color-base),
            inset 0 1px
                var(--raised-shade-color, var(--raised-shade-color-base)),
            inset 0 2px 4px var(--raised-shade-color-base);
    }
}

month-view-row {
    .cell:hover {
        --bg-color: rgb(from var(--window-fg-color) r g b / 3.75%);

        background-color: var(--bg-color);
    }

    .cell:active {
        --bg-color: rgb(from var(--window-fg-color) r g b / 7.5%);

        background-color: var(--bg-color);
    }

    .cell:focus-visible {
        outline: 2px solid var(--accent-bg-color);
        outline-offset: -2px;
    }

    separator.month-separator {
        --bg-color: rgb(
            from rgb(from var(--border-color) r g b / calc(alpha + 7.5%)) r g
                b / calc(alpha * 5)
        );

        background-color: var(--bg-color);
    }

    event-widget {
        min-height: 8px;
        background-color: color-mix(
            in srgb,
            var(--calendar-bg-color) 25%,
            var(--view-bg-color)
        );
        color: var(--view-fg-color);
        border-radius: 6px;

        &:focus-visible {
            outline: 2px solid var(--accent-bg-color);
            outline-offset: -2px;
        }

        .edge {
            background-color: var(--calendar-bg-color);
            min-width: 6px;
        }

        label {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }

    &.narrow {
        event-widget,
        .overflow-button {
            label {
                font-size: 82%;
            }
        }

        event-widget {
            label {
                margin: 2px;
            }
        }
    }

    &.medium {
        event-widget,
        .overflow-button {
            label {
                margin: 3px;
            }
        }
    }
}

month-view-header {
    &.narrow {
        margin: 6px 3px 6px 3px;

        label.day,
        label.month {
            border-radius: 6px;
        }

        label.day {
            padding: 0 6px 0 6px;
        }

        label.month {
            padding: 0 3px 0 3px;
            font-weight: 700;
        }
    }

    &.medium {
        margin: 6px;

        label.day,
        label.month {
            border-radius: 6px;
            padding: 0 6px 0 6px;
        }

        label.month {
            font-weight: 700;
        }

        @media (prefers-color-scheme: light) {
            label.month {
                color: white;
                background-color: var(--dark-2);
            }
        }

        @media (prefers-color-scheme: dark) {
            label.month {
                color: black;
                background-color: var(--light-3);
            }
        }
    }

    &.today {
        label.day,
        label.month {
            font-weight: 700;
            color: var(--accent-fg-color);
            background-color: var(--accent-bg-color);
        }
    }
}

.error-message {
    box {
        > textview {
            border-radius: 8px;
            padding: 8px;
            > text {
                background: none;
            }
        }
    }
}
