.collections-list {
    background-color: var(--theme-base-bg);
}

.events-list {
    background-color: var(--theme-base-bg);
}

.loading-button-row {
    padding: 12px 40px;
}

.attendees-list {
    background-color: var(--theme-base-bg);
}

.attendee-row {
    font-size: smaller;
}

.small-participation-status-icon {
    -gtk-icon-weight: 134;
}

.year-view {
    --raised-shade-color-base: color-mix(
        in srgb,
        var(--headerbar-shade-color) 50%,
        transparent
    );

    box-shadow:
        inset 0 -1px var(--raised-shade-color, var(--raised-shade-color-base)),
        inset 0 -2px 4px var(--raised-shade-color-base),
        inset 0 1px var(--raised-shade-color, var(--raised-shade-color-base)),
        inset 0 2px 4px var(--raised-shade-color-base);
}

.year-view-flow-box > flowboxchild {
    padding: 6px;
}

.year-view-days-grid-day-label-narrow {
    font-weight: 400;
    font-size: 57%;
}

.year-view-days-grid-day-label-medium {
    font-weight: 400;
    font-size: 100%;
}

.year-view-days-grid-day-label-wide {
    font-weight: 400;
    font-size: 130%;
}

.error-message box > textview {
    border-radius: 8px;
    padding: 8px;
}

.error-message box > textview > text {
    background: none;
}
